header {
	background-color: beige;
	padding: 1em;
}

main {
	background-color: hotpink;
	padding: 1em;
	flex-grow: 1;
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.dark header {
	background-color: #696C0D;
	color: #FDFFC5;
}

.dark main {
	color: hotpink;
	background-color: #5C1840;
}

.counter {
	border: 1px solid darkgray;
	padding: 0.5em;
	margin: 0.5em;
}